{% extends "base.html" %}
{% load home_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block heading %}
    <div class="jumbotron">
        <h1>Community Advancement Programme (CAP)</h1>

        <p>CAP is a Non-Government Organization working in multifareous areas including, inter alia, but limited to Sustainable Development, Social Justice, Gender Mainstreaming, Child Protection, Women Entrepreneurship Training, uplifting the destitute segments of social as well as capacity building of general public and Govt. Officials working in Health, Education and Agriculture sectors.</p>
        {% block search_box %}
            {% include "partials/search_box.html" only %}
        {% endblock %}
    </div>
{% endblock %}

{% block content %}

    {% include 'partials/carousel.html' with carousel_items=page.carousel_items.all only %}

{% include 'partials/streamfield.html' with content=self.body only %}


{% endblock %}
