{% load static wagtailcore_tags wagtailimages_tags home_tags %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/swipebox.min.css' %}">
{% endblock %}

<figure>
    {% if include_context == "index_page" %}
        <!--index page-->
    <a class="article-post-link" href="{% pageurl article %}">
        {% image article.header_image fill-800x260 class='img-responsive' %}
        <h2>{{ article.title|title }}</h2>
    </a>
    {% else %}
    <!--single article page-->
        {% image article.header_image fill-800x460 class='img-responsive' %}
        <h2>{{ article.title|title }}</h2>
    {% endif %}

</figure>


{% if article.date %}
    <div class="meta date">
        <p>{{ article.date|date:"F jS, Y" }} by {{ article.author.get_full_name }} </p>
    </div>
{% endif %}

{% if include_context == "index_page" %}
<div class="article-intro">
    {{ article.body|richtext|truncatewords_html:70 }}
    <a href="{% pageurl article %}">Read the rest of this entry &raquo;</a>
</div>
{% else %}
<div class="article-body">
    {{ article.body|richtext }}
</div>
{% endif %}

{% if article.image_gallery %}
    <div class="row">
        <div class="col-sm-12">
            {% for i in self.image_gallery.all %}
                 {% image i.imagelink fill-140x140 as ismall %}
                 {% image i.imagelink width-1000 as ilarge %}
                  <a href="{{ ilarge.url }}" class="swipebox" title="CAP">
                       <img src="{{ ismall.url }}" alt="image">
                  </a>
            {% endfor %}
        </div>
</div>
{% endif %}

<div class="share">
    <span class="st_linkedin_large" st_title="{{ article.title }}" st_url="{{ SITE_URL }}{% pageurl article %}" displayText="LinkedIn"></span>
    <span class="st_twitter_large" st_title="{{ article.title }}" st_url="{{ SITE_URL }}{% pageurl article %}" displayText="Tweet"></span>
    <span class="st_facebook_large" st_title="{{ article.title }}" st_url="{{ SITE_URL }}{% pageurl article %}" displayText="Facebook"></span>
    <span class="st_plusone_large" st_title="{{ article.title }}" st_url="{{ SITE_URL }}{% pageurl article %}" displayText="Google +1"></span>
    <span class="st_email_large" st_title="{{ article.title }}" st_url="{{ SITE_URL }}{% pageurl article %}" displayText="Email"></span>
    <span class="st_sharethis_large" st_title="{{ article.title }}" st_url="{{ SITE_URL }}{% pageurl article %}" displayText="ShareThis"></span>
</div>

<div class="meta">
    <div class="tags">
        {% if article.tags.all %}
            Tags:
                {% for tag in article.tags.all %}
                    <a href="{% url 'articles:tag' tag.slug %}/">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
        {% endif %}
    </div>
    <div class="tags-and-comments">
        {% if article.categories.all %}
            Posted in
                {% for cat in article.categories.all %}
                    <a href="{% url 'articles:category' cat.category.slug %}">{{ cat.category.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %} |
        {% endif %}

        <div id="comments" class="comments">
        {% if COMMENTS_APP == 'django_comments_xtd' %}
            {% include 'articles/article_post_comments_xtd_link.html' with article=article %}
        {% elif False %}
            <a href="{% pageurl article %}#disqus_thread">No Comments</a>
        {% endif %}
        </div>
    </div>
</div>


