{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags home_tags%}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/swipebox.min.css' %}">
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        {% sidebar_articles %}
        {% side_menu_items calling_page=self %}
    </div>
    <div class="col-md-9">
        <div class="row">
            <h2>{{ self.full_name }} ({{self.title}})</h2>
            <div class="col-md-3">
                {% if self.image %}
                    {% image self.image fill-220x260 class="img-thumbnail" %}
                {% endif %}
            </div><!--inner col-md-3-->
            <div class="col-md-9">
            {% for i in self.image_gallery.all %}
                {% image i.imagelink fill-140x140 as ismall %}
                {% image i.imagelink width-1000 as ilarge %}

                <a href="{{ ilarge.url }}" class="swipebox" title="CAP">
                    <img src="{{ ismall.url }}" alt="image">
                </a>
            {% endfor %}
            </div><!--inner col-md-9-->
        </div><!-- inner row-->

        {% if self.body %}
        <div class="body-content">
            {{ self.body|richtext }}
        </div>
        {% endif %}
        <hr>
        {% include "member/includes/contact.html" with contact=self only %}
    </div><!--col-md-9-->
</div>
{% endblock %}


{% block extra_js %}
<script src="{% static 'js/jquery.swipebox.min.js' %}"></script>
<script type="text/javascript">
	jQuery( document ).ready(function($) {
        /* Basic Gallery */
        $('.swipebox').swipebox();
});
	</script>
{% endblock extra_js %}