{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags%}
{% block content %}
{% image self.banner_image fill-1180x250 class='img-responsive'%}

 {% for child in self.get_children.live.all %}
<div class="list-group">
    <h1 class="list-group-item list-group-item-success"><a href="{% pageurl child %}">{{ child.title }}</a></h1>
    {% for book in child.get_children.live.all %}
        <a href="{% pageurl book %}" class="list-group-item">{{book.title}}</a>
    {% endfor %}
</div>
{% endfor %}

{% endblock content %}